body {
    color: white;
    overflow-x: hidden;
    /* background-color: #012;
    background-image: url("https://cssanimation.rocks/starwars/images/bg.jpg");
    background-size: 33%;
    background-repeat: repeat; */
    min-height: 2025px;
    /* font-family: "Roboto", sans-serif; */
    font-family: "DM Sans", sans-serif;
    /* background-image: radial-gradient(circle, #230444, #3d0149, #54004b, #6a004c, #7e004b, #7e004d, #7f004f, #7f0051, #690556, #510d59, #351359, #0e1555); */
    /* background-image: linear-gradient(to right, #1d2b53, #281e3b, #241525, #190c14, #000000); */
    /* background-image: linear-gradient(to right top, #1d2b53, #1f2d56, #212e58, #24305b, #26325e, #1a325a, #0e3155, #03304f, #002b3e, #05242d, #0e1c1f, #121414); */
    background-image: linear-gradient(to right bottom, #984a59, #864768, #6e4871, #514972, #33486c, #274361, #1f3e55, #1a3849, #1b2f3c, #1b2730, #191f24, #161718);
    /* background-image: linear-gradient(to left top, #984a59, #79415c, #583a57, #3b3249, #252835, #212631, #1d232c, #1a2128, #1c2934, #1c3241, #193b4d, #13445a); */
}


@media screen and (max-width:360px) {
    .team {
        height: 110px;
        width: 100%;
    }
}

@media screen and (max-width:349px) {
    .team {
        height: 110px;
        margin-left: 250px;
    }
}

nav {
    /* background-color: #7D1935; */
    background-color: #B21F66;
    /* color: white; */
}

nav>div {
    color: white;
}


.team {
    box-shadow: 0 0.5em 1.5em -0.4em #000000;
}

button {
    box-shadow: 0 0.5em 0.5em -0.4em #000000;

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #970747 50%, #B72A67 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.white {
    box-shadow: 0 0.5em 0.5em -0.4em #000000;

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #ffffff 50%, rgb(134, 133, 133) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.white:hover {
    background-position: left;
    transform: translateY(-8px);
}



button:hover {
    background-position: left;
    transform: translateY(-8px);
}

/* button:active {
    transform: translateY(2px);
    box-shadow: #665367 0 0 0;

} */

.card {
    width: 25rem;
    box-shadow: 0 0.5em 1.5em -0.4em #000000;
}



#cards>div {
    width: 28rem;
}


@media screen and (max-width:600px) {
    #cards>div {
        width: 16rem;
    }
}

.glacial {
    font-family: glacial;
}

@font-face {
    font-family: glacial;
    src: url(fontfam.otf);
}

@font-face {
    font-family: sofia;
    src: url(sofiaf.otf);
}


.home-img {
    transition: .5s ease
}

.home-img:hover {
    /* box-shadow: 0 0 0 10px #9C254D; */
    transition: .5s ease;
    cursor: pointer;
    box-shadow: #9C254D 0px 13px 27px -5px,#000000 0px 8px 16px -8px, #000000 0px 8px 16px -8px, #000000 0px 8px 16px -8px;
}


.hover {
    cursor: pointer;
}

@media screen and (max-width:400px) {
    #cards>div {
        width: 14rem;
    }

    .home-con>div {
        backdrop-filter: blur(5px);
        width: 100%;

    }
}


video {
    width: 100vw;
    height: 699px;
    object-fit: cover;
    /* filter: blur(13px); */


    margin-top: -99px;
    opacity: 0.6;
}

.home-con>div {
    color: white;
    display: inline-block;
    padding-left: 20px;
    width: 80%;


}


.td {
    text-decoration: none;
}

h2 {
    position: absolute;
    top: 20%;
    /* Adjust top position as desired */
    left: -3%;
    /* Adjust left position as desired */
    color: white;
    font-weight: 600;
    font-size: 24px;
    padding: 20px;
    border-radius: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ts {
    text-shadow: #000000 0px 1px 1px;
}

.dropshadow {
    filter: drop-shadow(5mm 8mm 4mm rgb(26, 19, 28));
}


@media screen and (min-width: 200px) and (max-width:768px) {
    video {
        height: 999px;
    }
}


.red {
    background-color: #970747;
}


.card-div:hover {
    cursor: pointer;
}

@media screen and (min-width: 592px) and (max-width:1119px) {
    .img2 {
        margin-top: 100px;
        width: 100%;
    }
}

@media screen and (max-width:510px) {

    .simg1,
    .simg2,
    .simg3 {
        height: 120px;
        width: 200px;
    }

    .simg3 {
        margin-top: -200px;
    }

    .simg2 {
        margin-top: -100px;
    }

    .simg1 {
        margin-bottom: 0;
    }
}



@media screen and (max-width:367px) {

    .simg1,
    .simg2,
    .simg3 {
        height: 6rem;
        width: 19rem;
    }

    .simg3 {
        margin-left: -2000px
    }

    .simg2 {
        margin-right: -100px;
    }

    .simg1 {
        margin-left: 100px;
    }
}

.img2 {
    width: 80%;
}


@media screen and (max-width:575px) {
    .simg {
        margin-top: -40px;
        width: 40%;
    }

    .simg1,
    .simg3 {
        margin-left: 200px;
    }

    .simg2 {
        margin-right: 200px;
    }
}


@media screen and (min-width: 992px) and (max-width:1082px) {
    .card {
        width: 17rem;
    }
}


@media screen and (min-width: 1141px) {
    .card {

        width: 20rem;
    }
}

@media screen and (max-width: 435px) {
    .card {

        width: 20rem;
    }
}


@media screen and (max-width: 360px) {
    .card {

        width: 17rem;
    }
}


@media screen and (max-width: 295px) {
    .card {

        width: 15rem;
    }
}